#blogA {
	.container-fluid {
		padding: 91px 145px 42px;
	}
	h5 {
		color: $gris;
	}
	h1 {
		color: $celeste;
		letter-spacing: 1;
	}
	.foto-nombre {
		.foto {
			float: left;
		  padding-right: 21px;
		  padding-top: 14px;
		}
		.nombre {
			h3 {
				color: $celeste;
			}
			h4 {
				color: $gris;
			}
		}
	}
	.contexto {
	  color: $gris;
	  letter-spacing: 0.4;
	  img {
	  	padding: 14px 0px;
	  	width: 100%;
	  }
	}
	.blog-lista {
		.background {
		  padding: 10px 10px 36px;
		  img {
		  	border-radius: 50%;
		  }
		}
		h4 {
			color: $mostaza;
		}
		.lista {
			h5 {
				text-align: left;
				padding-left: 23px;
				padding-top: 7px;
			}
			hr {
				border-top: 1px solid $gris;
				margin: 0px 0px 0px 14px;
			}
		}
	}
	.compartir {
		background: steelblue;
		color: white;
	}
}


/*POP AP PARA COMPARTIR*/
.modal-dialog {
	.modal-content {
		padding: 0px;
		.modal-header {
		  background: rgb(51, 122, 183);
		  color: white;
		  border-radius: 7px;
		}
		textarea.form-control {
		  border: none;
		}
		.btn-group {
		  padding: 5px;
		}
		.modal-body {
			position: relative;
			padding: 0px 11px;
			border-top: 1px solid $gris-claro;
  			border-bottom: 1px solid $gris-claro;
			img {
				width: 100%;
				padding: 11px 0px;
			}
			h3 {
				margin: 9px 0px;
			}
			p {
				font-size: 13px;
				color: $gris;
			}
		}
		.modal-footer {
		  background: rgb(218, 218, 218);
		}
	}	
}

@media screen and (max-width: 480px) {
	#blogA {
		.container-fluid {
		  padding: 0px;
		}
		.blog-lista {
			text-align: center;
			padding: 42px;
		}
	}
}